---
const { projects } = Astro.props;
---

<a
    class="card card-side card-sm h-40 bg-base-100 shadow"
    href=`/projects/${projects.slug}`
>
    <div class="card-body">
        <h2
            class="card-title text-lg"
            transition:name=`${projects.data.title}-title`
        >
            {projects.data.title}
        </h2>
        <p>{projects.data.description}</p>
    </div>
    <figure>
        <img src={projects.data.image.src} />
    </figure>
</a>
