---
const { projects } = Astro.props;
---

<a class="project-card" href=`/projects/${projects.slug}`>
	<div class="project-card-title">
		<h5 transition:name=`${projects.data.title}-title`>
			{projects.data.title}
		</h5>
		<p>{projects.data.description}</p>
	</div>
	<div
		class="project-card-thubnail"
		transition:name=`${projects.data.title}-image`
	>
		<img src={projects.data.image.src} width="100%" />
	</div>
</a>

<style lang="scss">
	.project-card {
		text-decoration: none;
		color: var(--dark);

		width: 100%;

		display: grid;
		grid-template-columns: 1.3fr 0.7fr;
		gap: 0px 10px;

		margin: 15px 0;

		.project-card-title {
			h5 {
				display: block;
				width: fit-content;
				color: var(--secondary);
				text-transform: uppercase;
				padding-bottom: 5px;
				margin-bottom: 5px;
				border-bottom: 3px solid var(--secondary);
			}

			p {
				font-size: var(--step-0);
			}
		}
	}
</style>
